body{
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow-y: auto;
  user-select: none;
}
.page{
  width: 1000px;
}
@media screen and (max-width: 1040px) {
  .page {
    width: calc(100vw - 40px);
  }
}
.title_bar{
  height: 50px;
  width: 100%;
  /* background-color: grey; */
}
.tools{
  display: flex;
  margin-top: 10px;
}
.path{
  display: flex;
}
.fixed{
  position: sticky;
  top: 0;
  background-color: white;
}
.header{
  display: grid;
  grid-template-columns: 45px 45px auto 100px;
  gap: 5px;
  height: 40px;
  background-color: rgb(250, 250, 250);
  align-items: center;
  margin-top: 5px;
}
.header_label{
  color: grey;
  font-size: 14px;
}
.file_item{
  display: grid;
  grid-template-columns: 45px 45px auto 100px;
  gap: 5px;
  height: 45px;
  align-items: center;
  transition: background-color .3s linear;
  cursor: pointer;
}
.file_item:hover{
  background-color: rgb(245, 245, 245);
}
.path_item{
  display: flex;
}
.path_label_end{
  font-weight: bold;
}
.path_label{
  cursor: pointer;
  transition: color linear .2s;
}
.path_label:hover{
  color: #06B6D4;
}
.preview{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

@keyframes opacityShow {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.preview{
  animation: opacityShow .2s linear forwards;
}