body{
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow-y: auto;
  user-select: none;
}
.page{
  width: 1000px;
  height: 100vh;
}
@media screen and (max-width: 1040px) {
  .page {
    width: calc(100vw - 40px);
  }
}
.title_bar{
  height: 50px;
  width: 100%;
  /* background-color: grey; */
}
.tools{
  display: flex;
  margin-top: 10px;
}
.path{
  display: flex;
}
.fixed{
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}
.header{
  display: grid;
  grid-template-columns: 45px 45px auto 100px 0px;
  gap: 5px;
  height: 40px;
  background-color: rgb(250, 250, 250);
  align-items: center;
  margin-top: 5px;
}
@media (max-width: 500px) {
  .header{
    grid-template-columns: 45px 45px auto 100px 45px;
  }
}
.header_label{
  color: grey;
  font-size: 14px;
}
.file_item{
  display: grid;
  grid-template-columns: 45px 45px auto 0px 100px 0px;
  gap: 5px;
  height: 45px;
  align-items: center;
  transition: background-color .3s linear;
  cursor: pointer;
}
.file_item:hover{
  grid-template-columns: 45px 45px auto 120px 100px 0px;
  background-color: rgb(245, 245, 245);
}
.file_item:hover>.file_option{
  opacity: 1;
}
.file_item>.file_option{
  opacity: 0;
}
@media (max-width: 500px) {
  .file_item {
    grid-template-columns: 45px 45px auto 0px 100px 45px;
  }
  .file_item:hover {
    grid-template-columns: 45px 45px auto 0px 100px 45px;
    background-color: rgb(245, 245, 245);
  }
}
.path_item{
  display: flex;
}
.path_label_end{
  font-weight: bold;
}
.path_label{
  cursor: pointer;
  transition: color linear .2s;
}
.path_label:hover{
  color: #06B6D4;
}
.preview{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.file_label{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 45px;
}
.file_option{
  overflow: hidden;
  transition: opacity .2s linear;
  display: flex;
}
.file_option .pi{
  font-size: 15px;
}
.file_option_m{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file_option_m .pi{
  font-size: 15px;
}