@keyframes opacityShow {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes opacityHide {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.preview_bg, .preview_bg_hide{
  background-color: rgba(255, 255, 255, 0.8);
  display: grid;
  grid-template-rows: 50px auto 50px;
}
.preview_bg{
  animation: opacityShow .2s linear forwards;
}
.preview_bg_hide{
  opacity: 1;
  animation: opacityHide .2s linear forwards;
}
.preview_content{
  display: flex;
  align-items: center;
  justify-content: center;
}
.preview_media {
  width: calc(70vh * 16 / 9);
  height: 70vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview_media .plyr {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.preview_title_bar{
  background-color: white;
}
.preview_title_bar{
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.preview_title{
  font-size: 20px;
  max-width: 50vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: text;
}
.preview_tools{
  margin-left: auto;
}